*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Digital-7;
  src: url(./assets/fonts/digital-7/digital-7.ttf);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.notes {
  text-decoration: underline;
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.instructions .error-message {
  color: red;
  font-weight: bold;
}

.container {
  background-color: #babec4;
  border: solid 1px darkgray;
  border-radius: 5px;
  padding: 2.5em 3.5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 500px;
}

.screen {
  font-family: Digital-7;
  font-size: 3.5rem;
  letter-spacing: 3px;
  background-color: white;
  border: solid 1px darkgray;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  padding: 20px;
}

.buttons {
  display: flex;
  gap: 5px;
  font-size: 2.1rem;
}

.left-side,
.right-side,
.operands,
.operators {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.left-side > div,
.fourth-row {
  display: flex;
  gap: 5px;
}

button {
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em 1em;
}

.operator {
  background-color: orange;
  border: solid 1px;
}

.operator:hover,
.operator-active {
  background-color: darkorange;
  color: white;
}

.clear,
.backspace {
  color: white;
  background-color: dimgray;
  border: none;
}

.clear,
.backspace,
.decimal-point {
  flex-grow: 1;
}

.operator,
.clear,
.backspace {
  border-radius: 3px;
}

/* to align operator buttons with operands */
#subtraction {
  font-size: 2.2rem;
}

.clear:hover,
.backspace:hover,
.modulo:hover {
  background-color: grey;
  border: none;
}
